---
import AboutMobile from "./about-mobile.astro";
---
<div class="hidden md:grid grid-cols-12 gap-8 container px-10 mx-auto max-w-6xl bg-transparent min-h-screen">
  <div class="col-span-8">
    <div class="w-16 h-1 bg-red-600"></div>

    <div class="flex items-center justify-between mt-8">
      <h2 class="font-urbanist text-6xl font-bold tracking-tight">
        Profil Saya<span class="text-red-600">.</span>
      </h2>

      <div class="flex space-x-4">
        <a href="https://wa.me/6281333292628" target="_blank" rel="noopener noreferrer">
          <button 
            class=" font-bold text-lg px-6 py-3 bg-red-600 text-white border-2 border-red-600 rounded-sm tracking-tight transition-all duration-300 ease-in-out hover:bg-transparent hover:text-red-600 flex items-center space-x-2"
          >
            <i class="fab fa-whatsapp"></i>
            <span>Kontak</span>
          </button>
        </a>
        <!-- <a
          href="https://maps.app.goo.gl/UQTcUQbLx2bsvF617"
          target="_blank"
          rel="noopener noreferrer"
          class=" cursor-pointer font-bold text-lg px-6 py-3 bg-black text-white border-2 border-black rounded-sm tracking-tight transition-all duration-300 ease-in-out hover:bg-transparent hover:text-black flex items-center space-x-2"
        >
          <i class="fas fa-map-marker-alt"></i>
          <span>Lokasi Kami</span>
            </a> -->
      </div>
    </div>

    <div class=" space-y-6 text-lg leading-relaxed mt-8 text-justify font-medium">
      <p class="first-letter:text-4xl first-letter:font-bold first-letter:text-red-600 ">
        Hai! Saya <span class="font-bold">SHINTA</span> , Konsultan Penjualan Chery yang siap membantu Anda mewujudkan mimpi memiliki mobil impian.
      </p>
      <p>
        Saya bisa memberikan konsultasi untuk memilih produk Chery yang paling sesuai dengan kebutuhan Anda, 
        membantu mengatur pembelian tunai atau kredit sesuai anggaran, menawarkan promo terbaik, serta mengajak 
        Anda merasakan pengalaman mengemudi melalui test drive.
      </p>
      <p>
        Tidak hanya itu, saya juga siap membantu urusan servis, klaim asuransi, dan pendaftaran asuransi agar 
        kendaraan Anda selalu dalam kondisi terbaik. Jadi, segera hubungi saya untuk memulai langkah Anda memiliki mobil Chery!
      </p>
    </div>
  </div>

  <div class="col-span-4 flex flex-col items-center">
    <div class="relative aspect-[3/4] overflow-hidden mb-8 w-full border-2 border-black">
      <img src="/bunda-reva.webp" alt="Profile picture" class="object-cover w-full h-auto" />
      <div class="absolute top-4 right-4 w-8 h-8 bg-red-600"></div>
    </div>
    <div class="grid grid-cols-3 gap-2 w-full">
      <div class="h-8 bg-black"></div>
      <div class="h-8 bg-red-600"></div>
      <div class="h-8 bg-black"></div>
    </div>
  </div>
</div>
<AboutMobile />

