<div class="md:hidden flex flex-col items-center text-center px-6 space-y-6 bg-transparent">
    <div class="w-16 h-1 bg-red-600"></div>
  
    <h2 class="font-urbanist text-5xl font-bold tracking-tight">
      Tentang Saya<span class="text-red-600">.</span>
    </h2>
  
    <div class="relative w-[50%] max-w-sm aspect-[3/4] overflow-hidden border-2 border-black">
      <img src="/bunda-reva.png" alt="Profile picture" class="object-cover w-full h-auto" />
      <div class="absolute top-4 right-4 w-8 h-8 bg-red-600"></div>
    </div>
  
    <div class="space-y-4 text-base leading-relaxed text-justify font-medium">
      <p class="first-letter:text-4xl font-mediu first-letter:font-bold first-letter:text-red-600 text-justify">
        Hai! Saya <span class="font-bold">SHINTA</span> , Konsultan Penjualan Chery yang siap membantu Anda mewujudkan mimpi memiliki mobil impian.
      </p>
      <p>
        Saya bisa memberikan konsultasi untuk memilih produk Chery yang paling sesuai dengan kebutuhan Anda, 
        membantu mengatur pembelian tunai atau kredit sesuai anggaran, menawarkan promo terbaik, serta mengajak 
        Anda merasakan pengalaman mengemudi melalui test drive.
      </p>
      <p>
        Tidak hanya itu, saya juga siap membantu urusan servis, klaim asuransi, dan pendaftaran asuransi agar 
        kendaraan Anda selalu dalam kondisi terbaik. Jadi, segera hubungi saya untuk memulai langkah Anda memiliki mobil Chery!
      </p>
    </div>
  
    <div class="flex flex-col space-y-4 w-full">
      <a href="https://wa.me/6281333292628" target="_blank" rel="noopener noreferrer">
        <button class="w-full font-bold text-lg px-6 py-3 bg-red-600 text-white border-2 border-red-600 rounded-sm tracking-tight transition-all duration-300 ease-in-out hover:bg-transparent hover:text-red-600 flex justify-center items-center space-x-2">
          <i class="fab fa-whatsapp"></i>
          <span>Contact</span>
        </button>
      </a>
      <button class="w-full  font-bold text-lg px-6 py-3 bg-black text-white border-2 border-black rounded-sm tracking-tight transition-all duration-300 ease-in-out hover:bg-transparent hover:text-black flex justify-center items-center space-x-2">
        <i class="fas fa-map-marker-alt"></i>
        <span>Location</span>
      </button>
    </div>
  </div>