    <!-- Improved dots indicator - adjusted for mobile -->
    <div class="absolute bottom-4 left-0 right-0">
      <div class="flex justify-center space-x-3 pb-2">
        <template x-for="(item, index) in katalog" :key="index">
          <button
            @click="currentIndex = index"
            class="w-2 h-2 rounded-full transition-all duration-300 mb-2"
            :class="currentIndex === index ? 'bg-red-600 w-6' : 'bg-gray-300 hover:bg-gray-400'"
          ></button>
        </template>
      </div>
    </div>
  </div>