---
import Main from "../layouts/main.astro";
import Hero from "../components/beranda/hero.astro";
import HeroAbout from "../components/beranda/about/about.astro";
import Katalog from "../components/katalog/katalog.astro";
import Galeri from "../components/galeri/galeri.astro";
import Footer from "../shared/footer.astro";
import Whatsapp from "../components/whatsapp.astro";
---

<Main title="Chery" description="Chery Web">

    <section class="relative pt-10 mx-auto shadow-red-400 shadow-lg" id="beranda">
        <Hero />
    </section>
    <section class="relative  pt-32 mt-28 mx-auto " id="about">
        <HeroAbout />
    </section>
    <section class="relative  pt-10 mx-auto" id="katalog">
        <Katalog />
    </section>
    <section class="relative pt-20 mx-auto" id="detail">
        <Galeri />
    </section>
    <section class="relative pt-10 mx-auto">
        <Footer />
    </section>

</Main>
<section class="fixed bottom-0 right-0 z-50 p-4">
    <Whatsapp />
</section>
