---
import Main from "../layouts/main.astro";
import Hero from "../components/beranda/hero.astro";
import HeroAbout from "../components/beranda/about/about.astro";
import Katalog from "../components/katalog/katalog.astro";
import Galeri from "../components/galeri/galeri.astro";
import Whatsapp from "../components/whatsapp.astro";
---

<Main title="Dealer Resmi Chery Malang Harga, Promo, & Test Drive Terbaru 2025" description="Dealer resmi Chery Malang dengan harga terbaru, promo menarik, dan layanan test drive. Temukan mobil Chery impian Anda di sini!"> 

    <section class="relative pt-10 md:pt-0 mx-auto shadow-red-400 shadow-lg" id="beranda">
        <Hero />
    </section>
    <section class="relative  pt-32 mt-28 mx-auto " id="about">
        <HeroAbout />
    </section>
    <section class="relative  pt-10 mx-auto" id="katalog">
        <Katalog />
    </section>
    <section class="relative pt-20 mx-auto" id="detail">
        <Galeri />
    </section>

</Main>
