---
import Car from "../../data/main-car.json";
import HeroLeft from "./left/heroleft.astro";
import HeroRight from "./right/heroright.astro";
---
<section class="relative px-10 mx-auto py-10">
  
  <!-- Hero Section -->
  <div
    x-data=`{
      cars: ${JSON.stringify(Car.cars)},
      currentCarIndex: 0,
      currentCar() { return this.cars[this.currentCarIndex]; },
      nextCar() { this.currentCarIndex = (this.currentCarIndex + 1) % this.cars.length; },
      prevCar() { this.currentCarIndex = (this.currentCarIndex - 1 + this.cars.length) % this.cars.length; },
      setCar(index) { this.currentCarIndex = index; }
    }`
    class="grid relative z-10 grid-cols-2 gap-1 items-center"
  >
    <div>
      <HeroLeft />
    </div>
    <HeroRight />
  </div>
</section>
