---
import Car from "../../data/main-car.json";
import HeroLeft from "../beranda/left/heroleft.astro";
import Image from "../beranda/right/image.astro";
---
<div
  x-data=`{
    cars: ${JSON.stringify(Car.cars)},
    currentCarIndex: 0,
    visibleCars() {
      const count = this.cars.length;
      const current = this.currentCarIndex;
      const prev = (current - 1 + count) % count;
      const prevTwo = (current - 2 + count) % count;
      const next = (current + 1) % count;
      const nextTwo = (current + 2) % count;
      return [prevTwo, prev, current, next, nextTwo];
    },
    currentCar() { return this.cars[this.currentCarIndex]; },
    nextCar() {
      this.currentCarIndex = (this.currentCarIndex + 1) % this.cars.length;
    },
    prevCar() {
      this.currentCarIndex = (this.currentCarIndex - 1 + this.cars.length) % this.cars.length;
    },
    setCar(index) {
      this.currentCarIndex = index;
    }
  }`
  class="relative min-h-screen w-full max-w-screen-2xl mx-auto px-4 lg:px-12 flex flex-col lg:flex-row items-center"
>
  <template x-for="(car, index) in cars" :key="index">
    <div
      class="absolute inset-0 w-full h-full bg-gray-300 transition-all duration-500 ease-in-out blur-sm sm:blur-sm"
      x-data="{ loaded: false }"
      :class="loaded ? 'bg-cover bg-center' : 'bg-gray-300'"
      x-show="currentCarIndex === index"
      x-transition:enter="transition ease-in-out duration-500"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition ease-in-out duration-500"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      x-init="
        let img = new Image();
        img.src = car.background;
        img.onload = () => { loaded = true; $el.style.backgroundImage = `url('${car.background}')`; }
      "
    ></div>
  </template>

  <!-- Content container -->
  <div class="relative z-10 flex flex-col lg:flex-row w-full items-center justify-between text-center lg:text-left">
    <div class="relative w-full lg:w-1/2 px-4 lg:px-0">
      <HeroLeft />
    </div>
    <div class="relative w-full mt-20 lg:w-1/2 px-4 py-10 lg:px-0">
      <Image />
    </div>
  </div>
</div>
